In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("initial_data.csv")

In [3]:
data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1.0,26/02/2025,AAA,9.00,9.02,8.92,9.07,8.90,8.98,-80,-0.89,"1,550,400","13,918",0,0,"1,550,400","13,918","3,409,889"
1,2.0,26/02/2025,AAM,6.83,6.90,7.00,7.00,6.85,6.50,170,2.49,"2,000",13,0,0,"2,000",13,"73,158"
2,3.0,26/02/2025,AAT,3.35,3.58,3.35,3.58,3.34,3.30,-,-,"9,700",32,0,0,"9,700",32,"237,244"
3,4.0,26/02/2025,ABR,13.30,13.70,13.90,13.90,13.70,13.33,600,4.51,300,4,0,0,300,4,"278,000"
4,5.0,26/02/2025,ABS,4.73,4.73,4.68,4.73,4.68,4.70,-50,-1.06,"254,300","1,194",0,0,"254,300","1,194","374,400"
5,6.0,26/02/2025,ABT,47.30,47.20,46.10,47.20,45.95,46.34,"-1,200",-2.54,"29,900","1,385",0,0,"29,900","1,385","542,932"
6,7.0,26/02/2025,ACB,26.00,26.05,25.95,26.10,25.95,26.00,-50,-0.19,"5,056,300","131,474","322,261","8,905","5,378,561","140,379","115,909,773"
7,8.0,26/02/2025,ACC,14.35,14.30,14.40,14.40,14.20,14.25,50,0.35,"18,600",265,0,0,"18,600",265,"1,512,000"
8,9.0,26/02/2025,ACG,39.20,39.20,39.50,39.65,39.00,39.36,300,0.77,"4,700",185,0,0,"4,700",185,"5,956,124"
9,10.0,26/02/2025,ACL,11.80,11.70,11.75,11.75,11.60,11.67,-50,-0.42,"6,600",77,0,0,"6,600",77,"589,368"

In [4]:
data = data.drop("0",axis=1)

In [5]:
data.columns = [
    "Date", "Stock Code", "Reference Price", "Opening Price", 
    "Closing Price", "Highest Price", "Lowest Price", "Average Price", 
    "Change (+/-)", "Change (%)", 
    "Matched Transactions Volume", "Matched Transactions Value", 
    "Negotiated Transactions Volume", "Negotiated Transactions Value", 
    "Total Transactions Volume", "Total Transactions Value", 
    "Market Capitalization"
]

In [6]:
data.head()

,Date,Stock Code,Reference Price,Opening Price,Closing Price,Highest Price,Lowest Price,Average Price,Change (+/-),Change (%),Matched Transactions Volume,Matched Transactions Value,Negotiated Transactions Volume,Negotiated Transactions Value,Total Transactions Volume,Total Transactions Value,Market Capitalization
0,26/02/2025,AAA,9.00,9.02,8.92,9.07,8.90,8.98,-80,-0.89,"1,550,400","13,918",0,0,"1,550,400","13,918","3,409,889"
1,26/02/2025,AAM,6.83,6.90,7.00,7.00,6.85,6.50,170,2.49,"2,000",13,0,0,"2,000",13,"73,158"
2,26/02/2025,AAT,3.35,3.58,3.35,3.58,3.34,3.30,-,-,"9,700",32,0,0,"9,700",32,"237,244"
3,26/02/2025,ABR,13.30,13.70,13.90,13.90,13.70,13.33,600,4.51,300,4,0,0,300,4,"278,000"
4,26/02/2025,ABS,4.73,4.73,4.68,4.73,4.68,4.70,-50,-1.06,"254,300","1,194",0,0,"254,300","1,194","374,400"

In [7]:
data.to_csv("beautify_data.csv",encoding ="utf8")